﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>

                @Html.DevExpress().GetStyleSheets( 
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
new StyleSheet { ExtensionSuite = ExtensionSuite.DashboardDesigner },
new StyleSheet { ExtensionSuite = ExtensionSuite.DashboardViewer }
        )
        @Html.DevExpress().GetScripts( 
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
new Script { ExtensionSuite = ExtensionSuite.Editors },
new Script { ExtensionSuite = ExtensionSuite.GridView },
new Script { ExtensionSuite = ExtensionSuite.DashboardDesigner },
new Script { ExtensionSuite = ExtensionSuite.DashboardViewer }
        )
    
</head>

<body>
    <div style="position:absolute; top:0; right:0; bottom:0; left:0">
        @RenderBody()
    </div>
</body>
</html>